In [1]:
import pandas as pd
import GPy
import matplotlib.pyplot as plt
from jupyterthemes import jtplot
jtplot.style(theme='onedork')

# Unidades de las tablas
<br><br>
## Archivo: 000 Analisis_Produccion-consumos CUAS.xlsx
<br><br>

### Primera tabla:
Esta tabla es de produccion de cobre
* Toneladas de cobre fino producido
<br><br>

### Segunda tabla:
Esta tabla es de produccion de cobre, pero separado por tamaño de la mina:
* Toneladas de cobre fino producido
<br><br>

### Tercera tabla:
Esta tabla es lo que consumimos de acido, considerando lo producido más lo importado (uno en cada fila):
* Toneladas de acido

## Archivo: 000 Analisis_Produccion-consumos CUAS.xlsx

In [2]:
# cargar Hoja1 del archivo: 000 Analisis _ Produccion-consumos CUAS.xlsx
# para crear los dataframes con produccion de fino y consumo de acido en
# indexados por el tiempo

folder = '/Users/juanpablodonosomerlet/Desktop/estudio-acidos/data/'
xls = pd.ExcelFile(folder + '000 Analisis _ Produccion-consumos CUAS.xlsx')
df1 = pd.read_excel(xls, 'Hoja1')
nombres_df1 = list(df1.columns.values)

In [3]:
# tabla1: produccion de fino, toda la informacion
tabla1 = df1.loc[:7,nombres_df1[2:18]]
tabla1 = tabla1.dropna()
tabla1.iloc[0].apply(int)
años = tabla1.iloc[0].apply(int)
dicc_years = {}
for i,year in enumerate(años):
    dicc_years[nombres_df1[2:18][i]] = year
tabla1 = tabla1.rename(dicc_years, axis='columns').loc[1:,:]
tabla1 = tabla1.append(tabla1.sum(), ignore_index=True)

# tabla2: consumo de acido
tabla2 = df1.loc[60:,nombres_df1[2:24]]
años2= tabla2.iloc[0].apply(int)
dicc_years2 = {}
for i,year in enumerate(años2):
    dicc_years2[nombres_df1[2:24][i]] = year
tabla2 = tabla2.rename(dicc_years2, axis='columns').loc[61:,:]

In [25]:
# dataframe de la produccion anual de fino 
produccion_fino = pd.DataFrame(tabla1.loc[6,:], index=list(tabla1.columns.values))
produccion_fino = produccion_fino.rename({6:'Produccion Cu fino anual'}, axis='columns')
produccion_fino

# dataFrame del consumo total de acido
consumo_acido = tabla2.transpose()
consumo_acido = consumo_acido.rename({61:'Produccion',
                                      62:'Importaciones',63:'Total'}, axis='columns')
print(produccion_fino)
print(consumo_acido.astype(int))
consumo_acido.astype(int)

     Produccion Cu fino anual
1999              2.15677e+06
2000              2.15875e+06
2001              2.36699e+06
2002              2.35979e+06
2003              2.39372e+06
2004              2.31927e+06
2005              2.26331e+06
2006              2.23252e+06
2007              2.40869e+06
2008               2.5306e+06
2009              2.72399e+06
2010              2.67646e+06
2011              2.61916e+06
2012               2.6001e+06
2013              2.46863e+06
2014              2.36847e+06
      Produccion  Importaciones  Total
1995        1781            122   1903
1996        2033            300   2333
1997        2334            396   2730
1998        2632            523   3155
1999        3311            381   3692
2000        3602            529   4131
2001        3660            559   4219
2002        3840            522   4362
2003        4479            488   4967
2004        4618            340   4958
2005        5009            552   5561
2006        5027            607   5634
2007        4775           1285   6060
2008        4858           2399   7257
2009        5077           1872   6949
2010        5164           2644   7808
2011        5277           3164   8441
2012        5245           3211   8456
2013        5422           2834   8256
2014        5653           2246   7899
2015        5735           2180   7915
2016        5871           1534   7406

      Produccion  Importaciones  Total
1995        1781            122   1903
1996        2033            300   2333
1997        2334            396   2730
1998        2632            523   3155
1999        3311            381   3692
2000        3602            529   4131
2001        3660            559   4219
2002        3840            522   4362
2003        4479            488   4967
2004        4618            340   4958
2005        5009            552   5561
2006        5027            607   5634
2007        4775           1285   6060
2008        4858           2399   7257
2009        5077           1872   6949
2010        5164           2644   7808
2011        5277           3164   8441
2012        5245           3211   8456
2013        5422           2834   8256
2014        5653           2246   7899
2015        5735           2180   7915
2016        5871           1534   7406

In [22]:
# fig, ax = plt.subplot()
figura, axe = plt.subplots(nrows=2, ncols=1)
figura.set_figwidth = 20
figura.set_figheight = 20
produccion_fino.plot(ax=axe, grid=True)
plt.xticks(produccion_fino.index)
plt.show()

AttributeError: 'numpy.ndarray' object has no attribute 'get_figure'